COMPOSE_PROJECT_NAME="emulator-hub-production"

# Application Version
APPLICATION_VERSION=<version>

# Node Environment
NODE_ENV="production"

# Postgres Database Connection
POSTGRES_DB="db"
POSTGRES_USER="user"
POSTGRES_PASSWORD=<password>
POSTGRES_HOST="postgres"

# Absolute path to SSL certificate and key
SSL_CERT_PATH=</path/to/ssl.cert>
SSL_KEY_PATH=</path/to/ssl.key>

# Email Details
EMAIL_USER=<user>
EMAIL_PASS=<password>
