@layer components {
    .switch {
        @apply appearance-none
            w-9
            h-4
            rounded-full
            relative
            transition
            bg-gray-600
            cursor-pointer
            disabled:cursor-not-allowed
            disabled:opacity-70;
    }

    .switch:not(:disabled):checked {
        @apply bg-green-700;
    }

    .switch::after {
        @apply transition
            absolute
            rounded-full
            bg-gray-500;
        content: '';
        left: 0px;
        top: -1px;
        width: 18px;
        height: 18px;
        transform: translateX(var(--x, 0));
    }

    .switch:checked {
        --x: 20px;
    }

    .switch:not(:disabled):checked::after {
        @apply bg-green-500;
    }

    .alert {
        @apply fixed
            z-50
            bg-gray-800
            top-1/2
            left-1/2
            transform 
            -translate-x-1/2
            -translate-y-1/2
            overflow-y-auto
            opacity-100
            transition;
    }

    .alert.hide {
        @apply opacity-0;
        --tw-translate-y: 50vh;
    }

    .alert-builtin {
        @apply flex flex-col
            items-center;
        width: 280px;
        max-height: 300px;
    }

    @screen xs {
        .alert-builtin {
            width: 340px;
            max-height: 300px;
        }
    }

    @screen sm {
        .alert-builtin {
            width: 500px;
            max-height: 300px;
        }
    }
    @screen md {
        .alert-builtin {
            width: 600px;
            max-height: 400px;
        }
    }
}
