@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply text-gray-50;
        @apply font-normal;
        @apply bg-gray-800;
        @apply text-base;
    }
}

@layer components {
    .btn-primary {
        @apply flex
            items-center
            justify-center
            rounded-full
            bg-green-500
            hover:cursor-pointer
            hover:bg-green-400;
    }

    .btn-secondary {
        @apply flex
            items-center
            justify-center
            rounded-full
            ring-inset
            ring-2
            ring-gray-50
            hover:cursor-pointer
            hover:text-green-500
            hover:ring-green-500;
    }
}

/* remove default blue highlight that tailwind sets*/
* {
    -webkit-tap-highlight-color: transparent;
}
