@layer components {
    .chip8__button-grid {
        @apply grid grid-cols-4 grid-rows-4 gap-2 my-7 mx-auto text-3xl;
        max-width: 20rem;
    }

    .chip8__button-grid > * {
        @apply bg-gray-700 rounded-xl select-none;
        aspect-ratio: 1;
    }

    .chip8__canvas {
        @apply mx-auto md:my-12 w-full;
        aspect-ratio: 2 / 1;
    }

    @screen md {
        .chip8__canvas {
            width: 768px;
        }
    }
    @screen lg {
        .chip8__canvas {
            width: 992px;
        }
    }
    @screen xl {
        .chip8__canvas {
            width: 1000px;
        }
    }
}
